<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.vpfinace.cloud_cat">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".splash.SplashActivity"
            android:theme="@style/AppTheme.Launcher"> <!--解决启动页白屏问题-->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" />
        <activity android:name=".ui.home.activity.TopActivity" />
        <activity android:name=".ui.home.activity.DividendCatActivity" />
        <activity android:name=".ui.home.activity.DividendCatRecordsActivity" />
        <activity android:name=".ui.home.activity.DividendIntroduceActivity" />
        <activity android:name=".ui.home.activity.PicListActivity" />
        <activity android:name=".ui.cattery.activity.InviteRecordsActivity" />
        <activity android:name=".ui.cattery.activity.RulesActivity" />
        <activity android:name=".ui.cattery.activity.SocialInfoActivity" />
        <activity android:name=".ui.mine.activity.AuthActivity" />
        <activity android:name=".ui.mine.activity.HelpActiviy" />
        <activity android:name=".ui.mine.activity.HelpDetailActivity" />
        <activity android:name=".ui.mine.activity.MyInviteCodeActivity" />
        <activity android:name=".ui.mine.activity.MyWalletActivity" />
        <activity android:name=".ui.mine.activity.WithdrawResultActivity" />
        <activity android:name=".ui.mine.activity.WalletRecordsActivity" />
        <activity android:name=".ui.mine.activity.AnswerActivity" />
        <activity android:name=".ui.mine.activity.AnswerResultActivity" />
        <activity android:name=".ui.mine.activity.MsgActivity" />
        <activity android:name=".ui.mine.activity.ChannelActivity" />
        <activity android:name=".ui.mine.activity.SettingActivity" />
        <activity android:name=".ui.mine.activity.AuthResultActivity" />
        <activity android:name=".ui.mine.activity.UpdateNickNameActivity" />
        <activity android:name=".ui.mine.activity.BindPhoneActivity" />
        <activity android:name=".ui.mine.activity.PrivacyActivity" />
        <activity android:name=".ui.user.activity.LoginActivity"
            android:launchMode="singleTask"
            />
        <activity android:name=".ui.user.activity.PhoneLoginActivity" />
        <activity android:name=".ui.home.activity.HowToPlayActivity" />
        <activity android:name=".ui.home.activity.AdActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
        android:authorities="com.cloud_cat.header_provider"
        android:exported="false"
        android:grantUriPermissions="true">
        <meta-data
            android:name="android.support.FILE_PROVIDER_PATHS"
            android:resource="@xml/file_paths" />
    </provider>

    </application>

</manifest>